<div id="parent">
<div  class="left chatform">
  <message-list [messages]="messages"></message-list>
  <message-form [message]="message" [messages]="messages"></message-form>
</div>
<div class="right">
  <h3>Angular Bot</h3>
  <div class="text">Angular Bot knows everything about the Angular. You can ask any questions, for example: 
  <ul>
    <li>Who are you?</li>
    <li>Where are you from?</li>
    <li>What is the Angular?</li>
    <li>Who creates the Angular?</li>
    <li>When was released first version Angular?</li>
    <li>When was released Angular 5?</li>
    <li>What is better Angular or React?</li>
    <li>What is a component?</li>
    <li>What is a directive?</li>
    <li>What is a module?</li>
    <li>What is a service?</li>
    <li>What is a template?</li>
    <li>What is a data binding?</li>
    <li>What is a Dependency Injection?</li>
  </ul>
</div>
</div>
</div>