  .timeform {
    float: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
  
    i {
      margin-right: 10px;
    }
  
    .timestamp{
      font-size: 0.6em;
    }
  }
  
  .avatar{
    width: 50px;
    margin-right: 20px;
  }

  .message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: normal;
    font-style: italic;
    display: flex;
    justify-content: baseline;
    align-items: center; 

    span{
      width: 700%;
    }
}
  .message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 100px;
  }
  .message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;

  }
  .message.to + .message.to,
  .message.from + .message.from {
    margin-top: -10px;
  }